@model IEnumerable<MovieViewModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="card" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(x => movie.Title)</h5>
                    <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-block btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-block btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-block btn-danger">delete</a>
                </div>
            </div>
        }
    </div>
</div>
